.head{
    margin: 0;
    padding-top: 5px;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(61, 112, 231);
    color: aliceblue;
}

.head span {
    padding: 0;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.login{
    margin-top: 20px;
    text-align: center;
    display: grid;
}


#log-in{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(61, 112, 231);
    border: .1rem solid rgb(61, 112, 231);
    border-radius: .5rem;
    display: inline-block;
    cursor: pointer;
}

.footer{
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 2px solid;
    text-align: center;
    border-color:rgb(61, 112, 231);
    background-color:rgb(61, 112, 231) ;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.footer .box-container .box {
    flex: 1 1 1rem;
    
}

.footer .box-container .box h3 {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.2rem 0;
    text-transform: capitalize;

}

.footer .box-container .box a {
    display: block;
    color: #ffffff;
    font-size: 1rem;
    padding: .5rem 0;
    text-transform: capitalize;

}

.footer .box-container .box a:hover {
    color: #13e7dd;
    text-decoration: underline;
}

/* #toggler{
    display: none;
    text-align: left;
}
#toggler:checked~.navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.fa-bars {
    
    font-size: 2rem;
    color: #ffffff;
    border-radius: .5rem;
    padding: 1px 6px;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
} */